.tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bloc-tabs {
    display: flex;
    justify-content: center;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .tabs {
      padding: 15px 42px;
      text-align: center;
      background: $white;
      cursor: pointer;
      box-sizing: content-box;
      position: relative;
      outline: none;
      border: none;
      color: $grayish-blue;
      font-size: 16px;
      font-family: "Rubik", sans-serif;
      border-bottom: 0px solid $soft-purple;
      @media screen and (max-width: 768px) {
        &:nth-child(1) {
          border-top: 1px solid $very-grayish-blue;
        }
      }
      &.active-tabs {
        background: white;
        color: $very-dark-blue;
        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%) !important;
          width: calc(100% + 2px);
          height: 5px;
          background: $purple;
          @media screen and (max-width: 768px) {
            bottom: 0;
          }
        }
      }
    }
  }
  .content-company {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    img {
      text-align: center;
      width: 150px;
      opacity: 0.5;
      @media screen and (max-width: 992px) {
        width: 100px;
      }
      @media screen and (max-width: 768px) {
        width: 60px;
      }

      transition: all 500ms ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.content-tabs {
  flex-grow: 1;
  padding: 75px 0;
  @media screen and (max-width: 768px) {
    padding: 65px 0;
  }
  .content-item {
    width: 100%;
    height: 100%;
    display: none;
    .content-left-item {
      .features-image {
        position: relative;

        .features-image-front {
          max-width: 580px;
          border-radius: 20px;
          z-index: 2;
          @media screen and (max-width: 480px) {
            width: 300px;
          }
        }
        .features-btn {
          position: absolute;
          bottom: 25px;
          left: 50%;
          transform: translate(-50%);
          @include btn-secondary;
          @include btn-large;
        }
      }
    }
    .content-right-item {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 992px) {
        flex: 100%;
        margin-top: 80px;
        width: 100%;
      }
      .content-item-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 20%;
        @media screen and (max-width: 992px) {
          padding: 0;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
        .content-item-button {
          .info-btn {
            @include btn-primary;
            @include btn-small;
          }
        }
      }
    }
    &.active-content-item {
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 992px) {
        flex-direction: column;
      }
    }
  }
}
