@mixin grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 1.5rem;
  padding: 1rem 2.4rem;
}
.container {
  @include grid;
  max-width: 1200px;
  overflow: hidden;
  gap: 1rem;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(8, 1fr);
  }
}
.footer {
  background: $footer-bg;

  &-top {
    grid-column: span 4;
    @media screen and (min-width: 992px) {
      grid-column: span 2;
    }
    .contact-us {
      &-item {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-bottom: 25px;
        img {
          width: 7%;
        }
        span {
          color: $white;
          margin-left: 25px;
          transition: color 350ms ease;
          cursor: pointer;
          &:hover {
            color: $soft-green;
          }
        }
      }
      .icon {
        color: $white;
      }
    }

    .social-box {
      display: flex;
      margin-left: 15px;
      .social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        margin-right: 10px;
        cursor: pointer;
        img {
          width: 50%;
          opacity: 0.8;
          filter: invert(100);
          transition: all 500ms;
          &:hover {
            opacity: 1;
            transform: scale(1.1);
          }
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      margin: 1.5rem -0.5rem;

      h3 {
        font-size: 1.5rem;
      }
      img {
        height: 5rem;
      }
    }
  }
  &-mid {
    @include grid;
    padding: 0;
    gap: 2rem;
    grid-column: span 4;
    @media screen and (min-width: 992px) {
      grid-column: 3/-1;
    }
    .footer-links {
      grid-column: span 2;
      @media screen and (min-width: 992px) {
        grid-column: span 1;
      }
      h4 {
        font-size: 1.4rem;
        margin-bottom: 3rem;
        font-weight: 600;
        color: $white;
      }
      li {
        font-size: 1.1rem;
        cursor: pointer;
        margin-bottom: 2rem;
        font-weight: 400;
        color: $white;
        transition: color 350ms ease;
        &:hover {
          color: $soft-green;
        }
      }
    }
  }
  .copy-right {
    width: 100%;
    color: $white;
    font-weight: 400;
    text-align: center;
    span {
      color: $soft-green;
    }
  }
}
