@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

button {
  font-family: "Rubik", sans-serif;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
