// Primary Color
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$soft-green: hsl(175, 68%, 73%);
$hover-green: hsl(175, 68%, 59%);
$soft-purple: hsl(255, 59%, 26%);
$purple: hsl(260, 78%, 57%);
$footer-bg: hsl(260, 73%, 48%);

// Neutral Color
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$white: #fff;
$very-soft-blue: rgba(37, 43, 70, 0.8);
$very-grayish-blue: hsl(229, 8%, 90%);
